
/API/appsettings.json
.vscode/launch.json
.vscode/tasks.json
client-store/src/assets/react.svg
.DS_Store
.idea/

API/Data/Migrations/20230426234114_IdentityAdded.cs
API/Data/Migrations/20230426234114_IdentityAdded.Designer.cs
API/identifier.sqlite
API/store.db
API/store.db
API/Data/Migrations/20230421032207_InitialCreate.cs
API/Data/Migrations/20230421032207_InitialCreate.cs
API/Data/Migrations/20230421032207_InitialCreate.cs
API/Data/Migrations/20230421032207_InitialCreate.Designer.cs
API/Data/Migrations/20230424025134_CartEntityAdded.cs
API/Data/Migrations/20230424025134_CartEntityAdded.Designer.cs
API/Data/Migrations/20230428180309_OrderEntityAdded.Designer.cs
